body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
}

.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar input, .navbar button {
    padding: 5px;
    margin: 0 5px;
}

.home-content {
    text-align: center;
    padding: 100px 20px;
}

.social-icons img {
    width: 30px;
    margin: 10px;
}

.about-content, .contact-content {
    padding: 20px;
    color: black;
}

.team {
    display: flex;
    justify-content: space-around;
}

/* .team-member { */
    /* text-align: center; */
/* } */

.team-section {
	text-align: left;
	padding: 50px 20px;
	position: relative;
}

.team-section h2 {
	font-size: 36px;
	font-weight: bold;
	color: white;
	margin-bottom: 20px;
}

.team-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.team-member {
	background: rgba(248, 249, 249);
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	width: 250px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
}

.role {
	background: #2d4bf0;
	color: white;
	display: inline-block;
	padding: 5px 15px;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 14px;
}


.team-member h3 {
	margin: 10px 0;
	font-size: 18px;
}

.team-member p {
	line-height: 20px;
	font-size: 14px;
	opacity: 0.8;
}

.contact-content form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.contact-content label {
    margin-top: 10px;
}

.contact-content input, .contact-content textarea {
    padding: 10px;
    margin-top: 5px;
}

.contact-content button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#recommendations {
    padding: 20px;
    color: black;
}

#results {
    text-align: center;
    position: absolute;
    right: 0px;

}