body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('media/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
}

.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar input, .navbar button {
    padding: 5px;
    margin: 0 5px;
}

.home-content {
    text-align: center;
    padding: 100px 20px;
}

.social-icons img {
    width: 30px;
    margin: 10px;
}

.about-content, .contact-content {
    padding: 20px;
    color: black;
}

.team {
    display: flex;
    justify-content: space-around;
}

.team-member {
    text-align: center;
}

.contact-content form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.contact-content label {
    margin-top: 10px;
}

.contact-content input, .contact-content textarea {
    padding: 10px;
    margin-top: 5px;
}

.contact-content button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#recommendations {
    padding: 20px;
    color: black;
}